@import "../utils/variables";
.home__grid {
    background-color: white;
    width: 50vw;
    height: 150vh;
}
.home__grid__parent--items {
    background-color: white;
    width: 40vw;
    height: 150vh;
}

