@import "../utils/variables";

.home__nav {
    width: 25vw;
    background-color: $neutral-dark;
    height: 100vh;
    color: $white;
    display: flex;
    flex-direction: row;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}