@import "../utils/variables";
@import "../utils/mixins";

.home__nav {
    width: 15vw;
    height: 150vh;
    background-color: $neutral-dark;
    color: $white;
    @include column;
    justify-content: space-between;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
