@import "../utils/variables";
@import "../utils/mixins";

.home__nav {
    width: 25vw;
    background-color: $neutral-dark;
    height: 100vh;
    color: $white;
    @include row;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}